.content {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 800px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.h1 {
  text-align: center;
  text-shadow:1px 1px 5px  rgb(128, 128, 128);
}

img {
  float: right;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  filter: grayscale(100%);
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}