div {
  background-color: rgb(255, 244, 225);
}

li {
  padding: 2px;
  margin: 2px;
}

.content {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 800px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.h1 {
  padding: 5px;
  text-align: center;
  width: 600px;
  margin-left: auto;
  margin-right: 50%;
  box-shadow: 2px 2px 5px gray;
  text-shadow:1px 1px 5px  rgb(128, 128, 128);
  background-color: rgb(255, 226, 194);
}

img {
  float: right;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  filter: grayscale(10%);
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.parag {
  border-radius: 5px;
  width: 600px;
  height: 100%;
  margin-left: auto;
  margin-right: 50%;
  padding: 5px;
  box-shadow: 2px 2px 5px gray;
  text-shadow:1px 1px 5px  rgb(128, 128, 128);
  background-color: burlywood;
}

.parag_table_1 {
  width: 100px;
  height: 100%;
  margin-left: auto;
  margin-right: 50%;
  padding: 5px;
  padding: 5px;
  box-shadow: 2px 2px 5px gray;
  text-shadow:1px 1px 5px  rgb(128, 128, 128);
  background-color: burlywood;
}

.parag_table_2 {
  width: 500px;
  margin-left: auto;
  margin-right: 50%;
  padding: 5px;
  box-shadow: 2px 2px 5px gray;
  text-shadow:1px 1px 5px  rgb(128, 128, 128);
}
